services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    volumes:
      - /mnt/external_storage/ollama:/root/.ollama
    ports:
      - "11434:11434"
    restart: unless-stopped
